{% extends "base.html" %}
{% load static %}
{% block title %}403{% endblock %}
{% block content %}
<style>
.container-error-403 {
    text-align: center;
}
.error-403-title {
    color: white;
    font-family: "Unbounded";
    font-weight: 700;
    font-style: bold;
    font-size: 44px;
}
.error-403-description {
    color: white;
    font-size: 20px;
    font-family: "Comfortaa";
    font-weight: 600;
    font-style: semibold;
}
.img-btn-back {
    width: 86px;
    height: 86px;
    margin-right: 15px;
}
.btn-back {
    margin-bottom: 15px;
}
.btn-back-link {
    text-decoration: none;
}
.btn-back-word {
    color: white;
    font-size: 24px;
    font-family: "Comfortaa";
    font-weight: 600;
    font-style: semibold;
}
@media (max-width: 768px) {
    .myos-fixs-bugs-img {
        width: 70%;
        height: auto;
    }
}
</style>
<div class="contianer-error-403">
    <p class="error-403-title">403</p>
    <p class="error-403-description">Вам отказано в праве доступа</p>
    <img src="/static/img/little_myos.png" class="myos-fixs-bugs-img">
    <p class="error-403-description">Уходите, я Вас на звал!</p>
    <div class="row btn-back">
        <a class="btn-back-link" href="javascript:history.back()">
            <p class="btn-back-word">
                <img class="img-btn-back" src="/static/img/button-back.svg">Назад
            </p>
        </a>
    </div>
</div>
{% endblock %}