{% extends "base.html" %}
{% load staitc %}
{% block title %}Страница не найдена{% endblock %}
{% block content %}
<style>
.container-error-404 {
    text-align: center;
}
.error-404-title {
    color: white;
    font-family: "Unbounded";
    font-weight: 700;
    font-style: bold;
    font-size: 44px;
}
.error-404-description {
    color: white;
    font-size: 20px;
    font-family: "Comfortaa";
    font-weight: 600;
    font-style: semibold;
}
.img-btn-back {
    width: 86px;
    height: 86px;
    margin-right: 15px;
}
.btn-back {
    margin-bottom: 15px;
}
.btn-back-link {
    text-decoration: none;
}
.btn-back-word {
    color: white;
    font-size: 24px;
    font-family: "Comfortaa";
    font-weight: 600;
    font-style: semibold;
}
</style>
<div class="container-error-404">
    <p class="error-404-title">Страница не найдена</p>
    <p class="error-404-description">Возможно, она была временно удалена или перемещена!</p>
    <img src="{% static 'img/little_myos.png' %}" class="myos-fixs-bugs-img">
    <p class="error-500-description">Разбираемся и исправляем</p>
    <div class="row btn-back">
        <a class="btn-back-link" href="javascript:history.back()">
            <p class="btn-back-word">
                <img class="img-btn-back" src="{% static 'img/button-back.svg' %}">Назад
            </p>
        </a>
    </div>
</div>
{% endblock %}