{% extends "our_love.html" %}
{% load static %}
{% block title %}Афродита моего сердца{% endblock %}
{% block content %}
<style>
body {
    background-color: #f0f0f0;
    font-family: 'Comic Sans MS', 'Comic Neue', cursive;
    color: #000080;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-decoration: underline wavy #000080;
}
p {
    line-height: 1.6;
    text-indent: 20px;
}
.book {
    width: 1100px;
    height: 710px;
    background-color: #f9f5e3;
    border: 2px solid #000080;
    margin-top: 0.5px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.book::before, .book::after,
.book .page-left, .book .page-right,
.book .page-left-two, .book .page-right-two,
.book .page-left-three, .book .page-right-three {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f5e3;
    border: 2px solid #000080;
}
.book::before {
    left: -10px;
    margin-top: 2px;
    z-index: -1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
}
.book::after {
    right: -10px;
    margin-top: 2px;
    z-index: -1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
}
.book .page-left {
    left: -19px;
    margin-top: 3.5px;
    z-index: -2;
}
.book .page-right {
    right: -19px;
    margin-top: 3.5px;
    z-index: -2;
}
.book .page-left-two {
    left: -27px;
    margin-top: 5.5px;
    z-index: -3;
}
.book .page-right-two {
    right: -27px;
    margin-top: 5.5px;
    z-index: -3;
}
.book .page-left-three {
    left: -35px;
    margin-top: 7px;
    z-index: -4;
}
.book .page-right-three {
    right: -35px;
    margin-top: 7px;
    z-index: -4;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
}
.page {
    width: 48%;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid #000080;
    padding: 10px;
    overflow: hidden;
}
.page p {
    font-size: 1.2em;
    line-height: 1.6;
}
.polaroid {
    background: #ffffff;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 5px 0px #000080;
    border: 2px dashed #000080;
    width: 400px;
    height: 500px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.polaroid img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 2px solid #000080;
}
.polaroid p {
    margin-top: 10px;
}
.book::before, .book::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #000080;
    transform: translateX(-50%);
    z-index: 1;
}
</style>
<div class="book">
    <div class="page">
        <p>Once upon a time, in a land far, far away, there was a magical forest...</p>
    </div>
    <div class="page">
        <p>The end of the story was not yet written, for the adventure had just begun...</p>
    </div>
    <div class="page-left"></div>
    <div class="page-right"></div>
    <div class="page-left-two"></div>
    <div class="page-right-two"></div>
    <div class="page-left-three"></div>
    <div class="page-right-three"></div>
</div>
{% endblock %}