{% extends "our_love.html" %}
{% load static %}
{% block title %}Афродита моего сердца{% endblock %}
{% block content %}
<style>
body {
    background: #f0f0f0;
    font-family: 'Comic Sans MS', 'Comic Neue', cursive;
    color: #000080;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-decoration: underline wavy #000080;
}
p {
    line-height: 1.6;
    text-indent: 20px;
}
.book {
    width: 1100px;
    height: 710px;
    background-color: #f9f5e3;
    border: 2px solid #000080;
    margin-top: 0.5px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.book::before, .book::after,
.book .page-left, .book .page-right,
.book .page-left-two, .book .page-right-two,
.book .page-left-three, .book .page-right-three {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f5e3;
    border: 2px solid #000080;
}
.book::before {
    left: -10px;
    margin-top: 2px;
    z-index: -1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
}
.book::after {
    right: -10px;
    margin-top: 2px;
    z-index: -1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
}
.book .page-left {
    left: -19px;
    margin-top: 3.5px;
    z-index: -2;
}
.book .page-right {
    right: -19px;
    margin-top: 3.5px;
    z-index: -2;
}
.book .page-left-two {
    left: -27px;
    margin-top: 5.5px;
    z-index: -3;
}
.book .page-right-two {
    right: -27px;
    margin-top: 5.5px;
    z-index: -3;
}
.book .page-left-three {
    left: -35px;
    margin-top: 7px;
    z-index: -4;
}
.book .page-right-three {
    right: -35px;
    margin-top: 7px;
    z-index: -4;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
}
.page {
    width: 48%;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid #000080;
    padding: 10px;
    overflow: hidden;
    position: relative;
}
.page p {
    font-size: 1.2em;
    line-height: 1.6;
}
.polaroid {
    background: #ffffff;
    display: inline-block;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 5px 5px 0px #000080;
    border: 2px dashed #000080;
    width: 400px;
    height: 550px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.polaroid img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 2px solid #000080;
}
.polaroid p {
    margin-top: 10px;
}
.book::before, .book::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #000080;
    transform: translateX(-50%);
    z-index: 1;
}
.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}
</style>
<div class="book">
    {% for moment in moments %}
        {% if forloop.counter0|divisibleby:2 %}
            <div class="page left-page">
                <p>Here will be title of the moment</p>
                <div class="polaroid">
                    <img src="{{ moment.best_img.url }}" alt="Лучший момент">
                    <p>{{ moment.title }}</p>
                    <p>{{ moment.our_story|safe }}</p>
                </div>
                <nav aria-label="page-navigation" class="bottom-left">
                    <ul class="pagination">
                        {% if moments.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ moments.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% else %}
            <div class="page right-page">
                <p>Here will be title of the other moment</p>
                <div class="polaroid">
                    <img src="{{ moment.best_img.url }}" alt="Лучший момент">
                    <p>{{ moment.title }}</p>
                    <p>{{ moment.our_story|safe }}</p>
                </div>
                <nav aria-label="page-navigation" class="bottom-right">
                    <ul class="pagination">
                        {% if moments.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ moments.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    {% endfor %}
    <div class="page-left"></div>
    <div class="page-right"></div>
    <div class="page-left-two"></div>
    <div class="page-right-two"></div>
    <div class="page-left-three"></div>
    <div class="page-right-three"></div>
</div>
{% endblock %}