{% extends "base.html" %}
{% load static %}
{% block title %}Mystery Of Story{% endblock %}
{% block content %}
<style>
.main-page-img-card-container {
    position: relative;
    display: inline-block;
}
.main-page-img-card {
    border-radius: 30px;
    width: 1360px;
    height: 414px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    padding: 5px;
    object-fit: cover;
    filter: brightness(80%);
}
.main-page-ellipse {
    position: absolute;
    top: 35%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 188.12px;
    height: 188.13px;
    background-image: url("{% static 'img/ellipse271.svg' %}");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3030A6;
    font-family: "Unbounded";
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
}
.tg-link {
    text-decoration: none;
    color: #3030A6;
}
.tg-link:hover {
    color: #3030A6;
}
.main-page-img-line {
    margin-bottom: 20px;
}
.category-item {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}
.main-page-nav-link {
    display: flex;
    align-items: top;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 15px;
}
.category-vector {
    width: 25px;
    height: 15px;
    margin-top: 5px;
}
.title {
    font-family: "Unbounded";
    font-weight: 500;
    font-style: medium;
    color: white;
    margin-bottom: 10px;
}
.categories-on-main-page {
    color: white;
    font-family: "Unbounded";
    font-weight: 500;
    font-style: medium;
    margin-bottom: 30px;
}
.container-category {
    text-align: start;
}
.category-name {
    width: 339px;
    height: 55px;
}
.category-img {
    width: 320px;
    height: 314px;
    border-radius: 50%;
    padding: 5px;
    object-fit: cover;
    filter: brightness(80%);
}
.all-categories-on-main-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.all-categories-item {
    padding: 5px;
    box-sizing: border-box;
}
.one-category {
    text-align: center;
}
.category-image-container {
    position: relative;
    display: inline-block;
}
.category-link {
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.category-details {
    margin-top: 10px;
}
.category-description {
    font-family: "Comfortaa";
    font-weight: 600;
    font-style: SemiBold;
    color: white;
    font-size: 13px;
}
.read-articles {
    width: 1360px;
    height: 76px;
    border-radius: 73px;
    background-color: white;
    color: #3030A6;
    font-family: "Unbounded";
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-top: 10px;
}
.read-articles:hover {
    background-color: white;
    color: #3030A6;
}
.main-page-about-project {
    width: 317px;
    height: 55px;
}
.main-page-new-articles {
    width: 200px;
    height: 55px;
}
.all-new-articles-on-main-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.new-article-img {
    width: 375px;
    height: 503px;
    padding: 5px;
    object-fit: cover;
    filter: brightness(60%);
}
.new-article-image-container {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-articles-title-svg {
    position: absolute;
    width: 330px;
    height: 43px;
    transform: translateX(18px) translateY(-210px);
}
.title-text {
    color: #3030A6;
    font-family: "Unbounded";
    font-weight: 700;
    font-style: bold;
    z-index: 2;
    text-align: center;
    transform: translateX(18px) translateY(-202px);
}
.overlay-description {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "Comfortaa";
    font-weight: 600;
    font-style: SemiBold;
    color: #AEAEAE;
    font-size: 16px;
    padding: 10px;
    margin-left: 5px;
}
.overlay-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    transform: translateX(-15px) translateY(-15px);
}
.row.about-project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.main-text-about {
    color: white;
    font-family: "Unbounded";
    font-weight: 400;
    font-style: regular;
    font-size: 20px;
    text-align: right;
    display: flex;
    width: 100%;
}
.main-page-title-about {
    color: white;
    font-family: "Unbounded";
    font-weight: 400;
    font-style: regular;
    font-size: 20px;
    text-align: right;
}
.main-page-about {
    width: 100%;
    padding-right: 30px;
}
.col-9 {
    width: 75%;
    text-align: right;
}
.col-3 {
    width: 25%;
}
@media (max-width: 768px) {
    .main-page-img-card {
        width: 362px;
        height: 233px;
    }
    .main-page-ellipse {
        display: none;
    }
    .category-item {
        display: none;
    }
    .container-category {
        text-align: center;
    }
    .read-articles {
        width: 355px;
        height: 76px;
        border-radius: 73px;
        font-size: 32px;
    }
    .main-page-new-articles {
        text-align: center;
    }
    
}
</style>
<div class="container-main-page">
    <div class="row justify-content-center">
        <div class="main-page-img-card-container row">
            <img src="{% static 'img/main-page-text.svg' %}" class="main-page-text" style="margin-bottom: 10px;">
            <img src="{% static 'img/myos.png' %}" class="main-page-img-card">
            <div class="main-page-ellipse">
                <span class="ellipse-text">
                    <a href="https://t.me/By_Alexandrow" class="tg-link">by ALEXANDROW</a>
                </span>
            </div>
        </div>
        <div class="row main-page-category-title justify-content-center">
            {% for category in categories %}
                <div class="col-md-3 category-item">
                    <div class="category-title">
                        <a class="main-page-nav-link" href="{% url 'articles:all_categories' category.id %}">
                            <p class="title">{{ category.articles_category_title }}</p>
                            <img src="{% static 'img/vector.svg' %}" class="category-vector">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <img src="{% static 'img/line49.png' %}" class="main-page-img-line" style="margin-bottom: 60px;">
        <img src="{% static 'img/line49.png' %}" class="main-page-img-line">
        <div class="row categories-on-main-page">
            <div class="container-category">
                <img class="category-name" src="{% static 'img/category.svg' %}">
                <p class="category-description">Захватывающие истории обо всем и обо всех</p>
            </div>
            <div class="all-categories-on-main-page">
                {% for category in categories %}
                    <div class="row col-md-35 all-categories-item">
                        <div class="one-category">
                            <div class="category-image-container">
                                <img class="category-img" src="{{ category.articles_category_img.url }}">
                                <a class="category-link" href="{% url 'articles:all_categories' category.id %}">
                                    <img src="{% static 'img/category-link.svg' %}">
                                </a>
                            </div>
                            <div class="category-details justify-content-center">
                                <p class="category-title">{{ category.articles_category_title }}</p>
                                <p class="category-description">{{ category.articles_category_description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <a href="{% url 'articles:all_categories' 1 %}">
                    <button type="button" class="btn read-articles">ЧИТАТЬ</button>
                </a>
            </div>
        </div>
        <img src="{% static 'img/line49.png' %}" class="main-page-img-line" style="margin-bottom: 60px;" id="about-project">
        <img src="{% static 'img/line49.png' %}" class="main-page-img-line">
        <div class="row about-project">
            <img src="{% static 'img/about.svg' %}" class="col-3 main-page-about-project">
            <div class="col-9 main-page-title-about">
                Mystery Of Story
            </div>
            <div class="main-text-about">
                <div class="col-3"></div>
                <div class="col-9 main-page-about">
                    Текст about project это текст оп роекте, он будет располагаться здесь,
                    только я не знаю, зачем и для чего, но сейчас я тестирую его расположение.
                    Вроде все работает, расположение верное, осталось поработать с дизайном этого блока
                    и отредактировать его
                    <div class="col-3 main-about-project-ellipse">
                        <a href="https://t.me/MysteryOfStory" class="tg-link">
                            <img class="main-about-project-img" src="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'img/line49.png' %}" class="main-page-img-line" style="margin-bottom: 60px;">
        <img src="{% static 'img/line49.png' %}" class="main-page-img-line">
        <div class="row new-articles-on-main-page">
            <div class="container-new-articles">
                <img src="{% static 'img/new.svg' %}" class="main-page-new-articles">
            </div>
            <div class="all-new-articles-on-main-page">
                {% for new_article in new_articles %}
                    <div class="row col-md-4 all-new-articles-item">
                        <div class="new-article">
                            <div class="new-article-image-container">
                                <img class="new-article-img" src="{{ new_article.articles_title_img.url }}">
                                <div class="overlay-text">
                                    <img class="new-articles-title-svg" src="{% static 'img/new_articles_title.svg' %}">
                                    <div class="title-text">
                                        <p class="new-article-title">{{ new_article.articles_title }}</p>
                                    </div>
                                </div>
                                <div class="overlay-description">
                                    <p class="new-article-description">{{ new_article.articles_description|truncatewords:5|safe }}</p>
                                </div>
                                <div class="overlay-icon">
                                    <a href="{% url 'articles:article_detail' new_article.id %}">
                                        <img src="{% static 'img/arrow_new_articles.svg' %}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <a href="{% url 'articles:new_articles' %}">
                    <button type="button" class="btn read-articles">СМОТРЕТЬ ВСЕ</button>
                </a>
            </div>
        </div>
        <img src="{% static 'img/line49.png' %}" class="main-page-img-line" style="margin-top: 20px; margin-bottom: 60px;">
        <img src="{% static 'img/line49.png' %}" class="main-page-img-line">
    </div>
</div>
{% endblock %}