{% load static %}
<style>
footer {
    background-color: #3030A6;
    text-align: center;
}
.navbar-brand-footer {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
}
.navbar-brand-footer:hover {
    color: white;
}
.nav-link {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.logo {
    margin-right: 10px;
}
.footer-donation {
    color: white;
    font-family: "Unbounded";
    font-weight: 500;
    font-style: normal;
    background-color: #3030A6;
    border-radius: 22px;
    border-color: #4C956C;
    width: 319px;
    height: 36px;
}
.footer-donation:hover {
    border-color: #4C956C;
    color: white;
    text-decoration: solid;
}
@media (max-width: 768px) {
    .title-logo-footer {
        font-size: 20px;
    }
    .nav-ex-footer .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .navbar-brand-footer {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .navbar-collapse {
        width: 100%;
        text-align: center;
    }
    .footer .foot-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .foot-nav .footer-nav-item {
        margin-bottom: 5px;
    }
    .footer-donation {
        text-align: center;
        color: white;
        font-family: "Unbounded";
        font-weight: 500;
        font-style: medium;
        background-color: #3030A6;
        border-radius: 22px;
        border-color: #4C956C;
        width: 299px;
        height: 43px;
        margin-top: 5px;
    }
    .footer-donation:hover {
        align-items: center;
        text-align: center;
        border-color: #4C956C;
        color: white;
        text-decoration: solid;
    }
}
</style>
<footer class="footer py-3">
    <nav class="navbar navbar-expand nav-ex-footer">
        <div class="container footer-container">
            <a class="navbar-brand-footer" href="{% url 'homepage:index' %}">
                <img src="/static/img/logo.svg" alt="Mystery Of Story" class="logo">
                <span class="title-logo-footer">Mystery Of Story</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="foot-nav navbar-nav mx-auto">
                    <li class="footer-nav-item">
                        <a class="nav-link" href="{% url 'homepage:index' %}#about-project">
                            О проекте
                        </a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="nav-link {% if view_name == 'articles:all_categories' %}active{% endif %}" href="{% url 'articles:all_categories' 1 %}">
                            Категории
                        </a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="nav-link {% if view_name == 'articles:new_articles' %}active{% endif %}" href="{% url 'articles:new_articles' %}">
                            Новое
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-donation">
                <button type="button" class="btn footer-donation" data-bs-toggle="modal" data-bs-target="#donationModal">Поддержать</button>
            </div>
        </div>
    </nav>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var aboutProjectLink = document.querySelector('a[href="{% url 'homepage:index' %}#about-project"]');
        if (aboutProjectLink) {
            aboutProjectLink.addEventListener('click', function(event) {
                event.preventDefault();
                var targetUrl = this.href;
                var targetId = targetUrl.split('#')[1];
    
                if (window.location.pathname !== "{% url 'homepage:index' %}") {
                    window.location.href = targetUrl;
                } else {
                    var targetElement = document.getElementById(targetId);
                    if (targetElement) {
                        targetElement.scrollIntoView({ behavior: 'smooth' });
                    }
                }
            });
        }
    });
</script>