{% extends 'love.html' %}
{% load static %}
{% block title %}Привет, любовь моя)){% endblock title %}
{% block content %}
<style>
    .container-cute-angel {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .text-on-the-page {
        color: white;
        font-family: "Comfortaa";
        font-weight: 600;
        font-style: SemiBold;
        font-size: 35px;
        text-align: center;
        margin-bottom: 30px; 
    }
    .sub-text {
        font-family: "Comfortaa";
        font-weight: 600;
        font-style: SemiBold;
        color: white;
        font-size: 20px;
    }
    .carousel-title {
        position: absolute;
        top: 5px;
        left: 20px;
        z-index: 10;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        font-family: "Comfortaa";
        font-weight: 600;
        font-style: SemiBold;
        font-size: 15px;
    }
    .angel-carousel {
        position: relative;
        width: 800px;
        height: 650px;
    }
    .angel-page-img-card {
        border-radius: 30px;
        object-fit: cover;
        filter: brightness(85%);
    }
    .overlay-angel-icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 10;
    }
    .carousel-description {
        position: absolute;
        bottom: 10px;
        left: 20px;
        z-index: 10;
        font-family: "Comfortaa";
        font-weight: 600;
        font-style: SemiBold;
        font-size: 15px;
        color: white;
    }
    .carousel-item {
        opacity: 0;
        transition-duration: 0s;
        transition-property: opacity;
    }
    .carousel-item.active {
        opacity: 1;
    }
    .card {
        border-radius: 30px;
        position: absolute;
        font-family: "Comfortaa";
        font-weight: 600;
        font-style: SemiBold;
        font-size: 15px;
        color: white;
        background-color: rgba(0, 0, 0, 0);
    }
    .card-body {
        margin-left: 10px;
        border-color: white;
    }
    #accordion .card {
        border-color: white;
        width: 775px;
        height: 450px;
    }
</style>
<div class="container-cute-angel">
    <div class="row justify-content-center">
        <div class="text-on-the-page">
            <p class="under-text">Останься в моей жизни навсегда</p>
            <p class="sub-text">Ангел мой</p>
        </div>
        <div id="accordion" class="row justify-content-center">
            {% for cutty in angel %}
                <div class="angel-carousel">
                    <div class="carousel-title">
                        <h4>{{ cutty.title_day }}</h4>
                    </div>
                    <div id="angelPageCarousel_{{ cutty.id }}" class="carousel slide angel-page-img-card" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner">
                            {% for image in cutty.img.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ image.images.url }}" class="d-block w-100 angel-page-img-card" alt="Article Image">
                                    <div class="carousel-description">
                                        <p>{{ cutty.period }}</p>
                                    </div>
                                    <div class="overlay-angel-icon" data-toggle="collapse" data-target="#accordion_{{ cutty.id }}" aria-expanded="false" aria-controls="accordion_{{ cutty.id }}">
                                        <img src="/static/img/arrow_new_articles.svg">
                                    </div>
                                </div>      
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#angelPageCarousel_{{ cutty.id }}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" href="#angelPageCarousel_{{ cutty.id }}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="accordion_{{ cutty.id }}" class="collapse" aria-labelledby="heading_{{ cutty.id }}" data-parent="#accordion">
                        <div class="card">
                            <div class="card-body">
                                <p>{{ cutty.day_description|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.overlay-angel-icon').click(function() {
            console.log('Icon clicked');
            var target = $(this).data('target');
            console.log('Target:', target);
            $(target).collapse('toggle');
        });
    });
</script>
{% endblock %}