{% extends "base.html" %}
{% load static %}
{% block title %}Mystery Of Story - {{ subcategory.articles_subcategory_title }}{% endblock title %}
{% block content %}
<style>
.article-way {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.article-way-title {
    font-family: "Comfortaa";
    font-weight: 600;
    font-style: semibold;
    font-size: 14px;
    color: white;
    margin-right: 5px;
}
.article-way-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.article-way-link.active {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.arrow {
    margin-left: 5px;
    margin-right: 5px;
}
.subcategory-title {
    display: none;
}
.one-article-img {
    width: 290px;
    height: 284px;
    border-radius: 50%;
    padding: 5px;
    object-fit: cover;
    filter: brightness(80%);
}
.all-article-in-main-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.all-article-in-main-category-item {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.one-article {
    text-align: center;
}
.one-article-image-container {
    position: relative;
    display: inline-block;
}
.one-article-link {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 43px;
    height: 43px;
}
.one-article-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one-article-title {
    margin: 0;
    font-family: "Unbounded";
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    color: white;
}
.one-article-description {
    margin: 0;
    font-family: "Comfortaa";
    font-weight: 600;
    font-style: semibold;
    color: #AEAEAE;
    font-size: 13px;
    margin-bottom: 20px;
}
.page-link {
    color: white;
    background-color: #3030A6;
    border-color: #4C956C;
}
.page-item.active .page-link {
    background-color: #4C956C;
    border-color: #4C956C;
    color: white;
}
.page-link:hover {
    background-color: #3030A6;
    border-color: #4C956C;
    color: white;
}
@media (max-width: 768px) {
    .subcategory-title {
        color: white;
        font-family: "Unbounded";
        font-weight: 700;
        font-style: bold;
        font-size: 40px;
        text-align: center;
    }
    .one-article-img {
        width: 310px;
        height: 300px;
    }
    .one-article-link {
        top: 76%;
        left: 76%;
        width: 40px;
        height: 40px;
    }
    .one-article-title {
        font-size: 22px;
    }
    .one-article-description {
        font-size: 20px;
    }
    .all-articles-in-main-category-item {
        width: 100%;
        margin-bottom: 30px;
    }
    .col-12 {
        width: 100%;
    }
    .all-articles-in-main-category {
        display: block;
    }
    .all-categories-img-card-container {
        text-align: center;
    }
    .all-categories-with-articles {
        display: none;
    }
}
</style>
<div class="col-12">
    <div class="row all-articles-in-main-category">
        <div class="article-way justify-content-center">
            <div class="to-the-main-page">
                <a class="article-way-link" href="{% url 'homepage:index' %}">
                    <p class="article-way-title">Главная
                        <img class="arrow" src="/static/img/arrow.svg">
                    </p>
                </a>
            </div>
            <div class="to-the-category-page">
                <a class="article-way-link" href="{% url 'articles:all_categories' subcategory.category.id %}">
                    <p class="article-way-title">Категории
                        <img class="arrow" src="/static/img/arrow.svg">
                    </p>
                </a>
            </div>
            <div class="to-the-main-category-page">
                <a class="article-way-link" href="{% url 'articles:all_myths_in_sub' subcategory.id %}">
                    <p class="article-way-title">{{ subcategory.articles_subcategory_title }}</p>
                </a>
            </div>
        </div>
        <p class="subcategory-title">{{ subcategory.articles_subcategory_title }}</p>
        {% for article in articles %}
            <div class="col-3 all-articles-in-main-category-item">
                <div class="one-article">
                    <div class="one-article-image-container">
                        <img class="one-article-img" src="{{ article.articles_title_img.url }}">
                        <a class="one-article-link" href="{% url 'articles:article_detail' article.id %}">
                            <img src="/static/img/category-link.svg">
                        </a>
                    </div>
                    <div class="one-article-details">
                        <p class="one-article-title">{{ article.articles_title }}</p>
                        <p class="one-article-description">{{ article.articles_description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}