{% extends "base.html" %}
{% load static %}
{% block title %}Mystery Of Story{% endblock %}
{% block content %}
<style>
.main-page-img-card-container {
    position: relative;
    display: inline-block;
}
.main-page-img-card {
    border-radius: 30px;
    width: 1360px;
    height: 414px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.main-page-ellipse {
    position: absolute;
    top: 35%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 188.12px;
    height: 188.13px;
    background-image: url("{% static 'img/ellipse271.svg' %}");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3030A6;
    font-family: "Unbounded";
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
}
.tg-link {
    text-decoration: none;
    color: #3030A6;
}
.tg-link:hover {
    color: #3030A6;
}
.main-page-img-line {
    margin-bottom: 20px;
}
</style>
<div class="container-main-page">
    <div class="row justify-content-center">
        <div class="main-page-img-card-container row">
            <img src="{% static 'img/main-page-text.svg' %}" class="main-page-text" style="margin-bottom: 10px;">
            <img src="{% static 'img/myos.png' %}" class="main-page-img-card">
            <div class="main-page-ellipse">
                <span class="ellipse-text">
                    <a href="https://t.me/By_Alexandrow" class="tg-link">by ALEXANDROW</a>
                </span>
            </div>
        </div>
        <div class="main-page-category-title">
        </div>
        <img src="{% static 'img/line49.png' %}" class="main-page-img-line" style="margin-bottom: 60px;">
        <img src="{% static 'img/line49.png' %}" class="main-page-img-line">
        <div class="main-page-categories">
        </div>
    </div>
</div>
{% endblock %}